---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h3 class="post-desc">{{ page.description }}</h3><!-- ideally shouldn't use h3 for this -->
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="social-buttons">
    <a class="share-button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}" target="_blank">{% include icon-facebook.html %} Share</a>
    <a class="share-button twitter" href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | cgi_escape }}&text={{ page.title | append: ' — by @GJordanDetamore' | cgi_escape }}&via=GJordanDetamore" target="_blank">{% include icon-twitter.html %} Tweet</a>
  </div>

  {% if site.disqus_shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</div>
